<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304174307027-502j66b8rgsujadp6epk40u71mu3vbut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304174307027-502j66b8rgsujadp6epk40u71mu3vbut</string>
	<key>API_KEY</key>
	<string>AIzaSyBrrzBqnccqAOZbuuMjucKQyB5Omn6GFgU</string>
	<key>GCM_SENDER_ID</key>
	<string>304174307027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>africa.victory.tech.instaVal</string>
	<key>PROJECT_ID</key>
	<string>fb-firebase-9cc19</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-firebase-9cc19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304174307027:ios:3816353853c18dfa4be626</string>
</dict>
</plist>